
	<div class='vertical layout start' style="margin:20px 40px">
		<div class='flex' style="text-align: center; width:100%">
			<img style='background-size: initial;height: 220px;width: 100%;' src="https://dummyimage.com/1920x400/000/fff&text=logo">
			<h1><%="Um sistema de gestão de informação multifuncional"%></h1>
		</div>
		<div class="mdl-grid">
		  <div class="mdl-cell mdl-cell--4-col">
				<p>A Atlas é um sistema Web para gerenciar seus dados na nuvem. Além disso, o sistema permite também gerenciar a sua equipe de trabalho.</p>
				<p>É possível criar diferentes níveis de acesso a suas informações para a sua equipe e convidados. </p>
			</div>
		  <div class="mdl-cell mdl-cell--4-col">
				<p>Concentre-se no que é importante para você: Obter informações úteis a partir dos seus dados brutos.</p>
				<p>O sistema oferece uma interface intuitiva e amigável para que você crie seus relatórios e visualize algumas estatísticas sobre suas informações e relatórios.</p>
			</div>
		  <div class="mdl-cell mdl-cell--4-col">
				<p>Crie, edite e organize as suas coleções de informações, e ao final do dia, não se esqueça de salva-las no banco para continuar mais tarde.</p>
				<p>Ou ainda, compartilhe seu trabalho com seus colegas para que todos possam interagir!</p>
			</div>
		</div>

	</div>
	<img style='background-size: initial;height: 200px;width: 100%;' src="https://dummyimage.com/1920x400/000/fff&text=quadradinhos_aqueles">

		<div style="margin:20px 40px">
			<div class="mdl-grid">
			  <div class="mdl-cell mdl-cell--4-col">
					<h1>Controle de Acesso</h1>
					<p>O sistema permite a adição, modificação e remoção de usuários através do programa Contas disponível dentro do sistema. Ao modificar uma conta, o usuário receberá uma notificão de que sua conta foi modificada ou deletada do sistema. Além do mais, cada conta tem um determinado nível de acesso as informações e funcionalidades do sistema.</p>
				</div>
			  <div class="mdl-cell mdl-cell--4-col">
					<h1>Coleções</h1>
					<p>Uma coleção é um conjunto de dados agrupados por alguma característica em comum entre eles. Há a possibilidade de fazer a edição, remoção e criação de novas coleções. As coleções pertencem a um usuário e podem ser compartilhadas com os demais usuários, respeitando as regras de Controle de Acesso.</p>
				</div>
			  <div class="mdl-cell mdl-cell--4-col">
					<h1>Estatísticas</h1>
					<p>Cada coleção tem suas próprias características, métricas, e demais dados estatísticos. No programa Estatísticas, é possível gerenciar seus gráficos e informações estatísticas para compreender o comportamento dos seus dados.</p>
				</div>
			</div>
		</div>
